In [ ]:
import pandas as pd
import numpy as np

In [ ]:
proyecto=pd.read_csv('https://raw.githubusercontent.com/Robertozimri/Robertozimri/main/db_proyecto.csv', sep=';')
proyecto.head()

,Tipo,Valor,Barrio,Alcaldia,Area,Recamaras,Baños,Estacionamientos,ValorMantenimiento,Caracteristicas
0,Departamento,681.50,Barrio del Niño Jesús,Tlalpan,85,3,2,1.0,40.7,"[Planta baja, Buena iluminación, Cocina integr..."
1,Departamento,681.55,Carola,Alvaro Obregón,60,2,2,2.0,0.0,"[Buena iluminación,Sala Comedor,Cocina Equipad..."
2,Departamento,864.80,Condesa,Cuauhtémoc,70,2,2,1.0,84.6,"[Vigilancia 24 horas, Gimnasio, Roof Garden co..."
3,Casa,1363.00,Contadero,Cuajimalpa de Morelos,131,3,2,2.0,0.0,"[Sala, Comedor, Cocina integral,Área de lavado..."
4,Departamento,705.00,Del Valle,Benito Juárez,79,2,2,1.0,61.1,"[Recámara con vestidor y baño, Closet,Comedor ..."

In [23]:
proyecto['ValorM2'] = proyecto['ValorTotal'] / proyecto['Area']
proyecto.head()

,Tipo,Valor,Barrio,Alcaldia,Area,Recamaras,Baños,Estacionamientos,ValorMantenimiento,Caracteristicas,ValorTotal,ValorM2
0,Departamento,681.50,Barrio del Niño Jesús,Tlalpan,85,3,2,1.0,40.7,"[Planta baja, Buena iluminación, Cocina integr...",722.20,8.496471
1,Departamento,681.55,Carola,Alvaro Obregón,60,2,2,2.0,0.0,"[Buena iluminación,Sala Comedor,Cocina Equipad...",681.55,11.359167
2,Departamento,864.80,Condesa,Cuauhtémoc,70,2,2,1.0,84.6,"[Vigilancia 24 horas, Gimnasio, Roof Garden co...",949.40,13.562857
3,Casa,1363.00,Contadero,Cuajimalpa de Morelos,131,3,2,2.0,0.0,"[Sala, Comedor, Cocina integral,Área de lavado...",1363.00,10.404580
4,Departamento,705.00,Del Valle,Benito Juárez,79,2,2,1.0,61.1,"[Recámara con vestidor y baño, Closet,Comedor ...",766.10,9.697468

In [24]:
proyecto['ValorTotal'] = proyecto['Valor'] + proyecto['ValorMantenimiento']
proyecto.head()

,Tipo,Valor,Barrio,Alcaldia,Area,Recamaras,Baños,Estacionamientos,ValorMantenimiento,Caracteristicas,ValorTotal,ValorM2
0,Departamento,681.50,Barrio del Niño Jesús,Tlalpan,85,3,2,1.0,40.7,"[Planta baja, Buena iluminación, Cocina integr...",722.20,8.496471
1,Departamento,681.55,Carola,Alvaro Obregón,60,2,2,2.0,0.0,"[Buena iluminación,Sala Comedor,Cocina Equipad...",681.55,11.359167
2,Departamento,864.80,Condesa,Cuauhtémoc,70,2,2,1.0,84.6,"[Vigilancia 24 horas, Gimnasio, Roof Garden co...",949.40,13.562857
3,Casa,1363.00,Contadero,Cuajimalpa de Morelos,131,3,2,2.0,0.0,"[Sala, Comedor, Cocina integral,Área de lavado...",1363.00,10.404580
4,Departamento,705.00,Del Valle,Benito Juárez,79,2,2,1.0,61.1,"[Recámara con vestidor y baño, Closet,Comedor ...",766.10,9.697468

In [25]:
proyecto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24 entries, 0 to 30
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Tipo                24 non-null     object
 1   Valor               24 non-null     float64
 2   Barrio              24 non-null     object
 3   Alcaldia            24 non-null     object
 4   Area                24 non-null     int64
 5   Recamaras           24 non-null     int64
 6   Baños               24 non-null     int64
 7   Estacionamientos    23 non-null     float64
 8   ValorMantenimiento  24 non-null     float64
 9   Caracteristicas     24 non-null     object
 10  ValorTotal          24 non-null     float64
 11  ValorM2             24 non-null     float64
dtypes: float64(5), int64(3), object(4)
memory usage: 2.4+ KB

In [26]:
proyecto.describe()

,Valor,Area,Recamaras,Baños,Estacionamientos,ValorMantenimiento,ValorTotal,ValorM2
count,24.000000,24.000000,24.000000,24.000000,23.000000,24.000000,24.000000,24.000000
mean,908.668750,120.291667,2.583333,2.000000,1.782609,32.441667,941.110417,8.925934
std,412.707692,73.887387,0.974308,1.063219,0.850482,46.076740,415.376016,3.441335
min,460.600000,41.000000,1.000000,1.000000,1.000000,0.000000,460.600000,3.607692
25%,656.825000,70.000000,2.000000,1.000000,1.000000,0.000000,680.362500,6.502902
50%,752.000000,105.000000,3.000000,2.000000,2.000000,0.000000,759.050000,8.671765
75%,1069.250000,150.750000,3.000000,2.250000,2.000000,63.450000,1139.750000,10.643227
max,2115.000000,385.000000,5.000000,5.000000,4.000000,164.500000,2115.000000,16.507317

In [27]:
proyecto[proyecto.Valor.isna()].shape

(0, 12)

In [28]:
proyecto.dropna(subset = ['Valor'], inplace = True)
proyecto[proyecto.Valor.isna()].shape

(0, 12)

In [29]:
proyecto.describe()

,Valor,Area,Recamaras,Baños,Estacionamientos,ValorMantenimiento,ValorTotal,ValorM2
count,24.000000,24.000000,24.000000,24.000000,23.000000,24.000000,24.000000,24.000000
mean,908.668750,120.291667,2.583333,2.000000,1.782609,32.441667,941.110417,8.925934
std,412.707692,73.887387,0.974308,1.063219,0.850482,46.076740,415.376016,3.441335
min,460.600000,41.000000,1.000000,1.000000,1.000000,0.000000,460.600000,3.607692
25%,656.825000,70.000000,2.000000,1.000000,1.000000,0.000000,680.362500,6.502902
50%,752.000000,105.000000,3.000000,2.000000,2.000000,0.000000,759.050000,8.671765
75%,1069.250000,150.750000,3.000000,2.250000,2.000000,63.450000,1139.750000,10.643227
max,2115.000000,385.000000,5.000000,5.000000,4.000000,164.500000,2115.000000,16.507317

In [30]:
proyecto[proyecto.ValorMantenimiento.isna()].shape

(0, 12)

In [31]:
proyecto.dropna(subset = ['ValorMantenimiento'], inplace = True)

In [32]:
proyecto[proyecto.ValorMantenimiento.isna()].shape

(0, 12)

In [33]:
proyecto[proyecto.ValorMantenimiento == -1].shape

(0, 12)

In [34]:
proyecto['ValorMantenimiento'].replace(-1, 0, inplace = True)

In [35]:
proyecto[proyecto.ValorMantenimiento == -1].shape

(0, 12)

In [36]:
proyecto.describe()

,Valor,Area,Recamaras,Baños,Estacionamientos,ValorMantenimiento,ValorTotal,ValorM2
count,24.000000,24.000000,24.000000,24.000000,23.000000,24.000000,24.000000,24.000000
mean,908.668750,120.291667,2.583333,2.000000,1.782609,32.441667,941.110417,8.925934
std,412.707692,73.887387,0.974308,1.063219,0.850482,46.076740,415.376016,3.441335
min,460.600000,41.000000,1.000000,1.000000,1.000000,0.000000,460.600000,3.607692
25%,656.825000,70.000000,2.000000,1.000000,1.000000,0.000000,680.362500,6.502902
50%,752.000000,105.000000,3.000000,2.000000,2.000000,0.000000,759.050000,8.671765
75%,1069.250000,150.750000,3.000000,2.250000,2.000000,63.450000,1139.750000,10.643227
max,2115.000000,385.000000,5.000000,5.000000,4.000000,164.500000,2115.000000,16.507317

In [37]:
proyecto.fillna(value={'Estacionamiento':0,'Baño':0}, inplace=True)

In [38]:
proyecto.describe()

,Valor,Area,Recamaras,Baños,Estacionamientos,ValorMantenimiento,ValorTotal,ValorM2
count,24.000000,24.000000,24.000000,24.000000,23.000000,24.000000,24.000000,24.000000
mean,908.668750,120.291667,2.583333,2.000000,1.782609,32.441667,941.110417,8.925934
std,412.707692,73.887387,0.974308,1.063219,0.850482,46.076740,415.376016,3.441335
min,460.600000,41.000000,1.000000,1.000000,1.000000,0.000000,460.600000,3.607692
25%,656.825000,70.000000,2.000000,1.000000,1.000000,0.000000,680.362500,6.502902
50%,752.000000,105.000000,3.000000,2.000000,2.000000,0.000000,759.050000,8.671765
75%,1069.250000,150.750000,3.000000,2.250000,2.000000,63.450000,1139.750000,10.643227
max,2115.000000,385.000000,5.000000,5.000000,4.000000,164.500000,2115.000000,16.507317

In [42]:
proyecto['ValorTotal'] = proyecto['Valor'] + proyecto['ValorMantenimiento']
proyecto['ValorM2'] = proyecto['ValorTotal'] / proyecto['Area']
proyecto.describe()

,Valor,Area,Recamaras,Baños,Estacionamientos,ValorMantenimiento,ValorTotal,ValorM2
count,24.000000,24.000000,24.000000,24.000000,23.000000,24.000000,24.000000,24.000000
mean,908.668750,120.291667,2.583333,2.000000,1.782609,32.441667,941.110417,8.929158
std,412.707692,73.887387,0.974308,1.063219,0.850482,46.076740,415.376016,3.440297
min,460.600000,41.000000,1.000000,1.000000,1.000000,0.000000,460.600000,3.615385
25%,656.825000,70.000000,2.000000,1.000000,1.000000,0.000000,680.362500,6.504464
50%,752.000000,105.000000,3.000000,2.000000,2.000000,0.000000,759.050000,8.671765
75%,1069.250000,150.750000,3.000000,2.250000,2.000000,63.450000,1139.750000,10.643227
max,2115.000000,385.000000,5.000000,5.000000,4.000000,164.500000,2115.000000,16.507317

In [44]:
proyecto['Gimnasio'] = proyecto['Caracteristicas'].apply(lambda x: 'Gimnasio' in x)
proyecto.head()

,Tipo,Valor,Barrio,Alcaldia,Area,Recamaras,Baños,Estacionamientos,ValorMantenimiento,Caracteristicas,ValorTotal,ValorM2,Gimnasio
0,Departamento,681.50,Barrio del Niño Jesús,Tlalpan,85,3,2,1.0,40.7,"[Planta baja, Buena iluminación, Cocina integr...",722.20,8.496471,False
1,Departamento,681.55,Carola,Alvaro Obregón,60,2,2,2.0,0.0,"[Buena iluminación,Sala Comedor,Cocina Equipad...",681.55,11.359167,False
2,Departamento,864.80,Condesa,Cuauhtémoc,70,2,2,1.0,84.6,"[Vigilancia 24 horas, Gimnasio, Roof Garden co...",949.40,13.562857,True
3,Casa,1363.00,Contadero,Cuajimalpa de Morelos,131,3,2,2.0,0.0,"[Sala, Comedor, Cocina integral,Área de lavado...",1363.00,10.404580,True
4,Departamento,705.00,Del Valle,Benito Juárez,79,2,2,1.0,61.1,"[Recámara con vestidor y baño, Closet,Comedor ...",766.10,9.697468,False

In [45]:
proyecto['Gimnasio'].value_counts(normalize = True)

False    0.75
True     0.25
Name: Gimnasio, dtype: float64